.in{
    width: 200px;
    margin: 5px;
    margin-left: 20px;
    height: 60px;
    color: white;
    background-color: rgba(101, 255, 70, 0.5);
    border: solid 1px green;
    border-radius: 5px;
}

.in :hover{
    cursor: pointer;
}

.out{
    width: 200px;
    margin: 5px;
    margin-left: 20px;
    height: 60px;
    color: white;
    background-color: rgba(255, 39, 39, 0.5);
    border: solid 1px red;
    border-radius: 5px;
}

.out :hover{
    cursor: pointer;
}